html {
  font-family: "Source Code Pro", monospace;
  letter-spacing: -.033rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    letter-spacing: normal;
}
