<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>
    <a class="sidebar-nav-item" id="theme-toggle" href="#">Night Mode</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>

<script>
  var toggleButton = document.getElementById('theme-toggle');

  function getNightMode() {
    return localStorage.getItem('nightMode') === 'true';
  }

  function setNightMode(value) {
    localStorage.setItem('nightMode', value);
  }

  function render(nightMode) {
    if (nightMode) {
      document.body.classList.add('theme-night');
      toggleButton.textContent = 'Day Mode';
    } else {
      document.body.classList.remove('theme-night');
      toggleButton.textContent = 'Night Mode';
    }
  }

  window.addEventListener('load', function() {
    render(getNightMode());
  });

  toggleButton.addEventListener('click', function() {
    var nightMode = getNightMode();
    setNightMode(!nightMode);
    render(!nightMode);
    return false;
  });
</script>
